<div>
  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let book of books">
      <mat-card tab-index="0" matTooltip="{{ book.description }}" matTooltipPosition="right">
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-content>Author: {{ book.author }}</mat-card-content>
        <mat-card-actions>
          <mat-checkbox id="{{ book.id }}" (change)="selectBook($event)" disabled="{{ book.available == 1 }}">Select</mat-checkbox>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="books">
  <button md-button-raised class="my-books-button" (click)="getMyBooks('books/user',1)">My Books</button>
</div>
<div *ngIf="books">
  <button md-button-raised class="rent-button" (click)="rentBooks('books/user',1)">Rent Books</button>
</div>
<router-outlet></router-outlet>
