<mat-toolbar>
  <mat-toolbar-row>
    <div class="home" *ngIf="!isHomePage()"><a routerLink="home">Home</a></div>
    <div class="home" *ngIf="isHomePage()"></div>
    <div class="title"><span>Books Library</span></div>
    <div class="nav">
      <a *ngIf="isLoggedIn()" class="user" routerLink="account/{{ username }}">
      {{ username }}
    </a>
      <a *ngIf="!isLoggedIn()" routerLink="login">Login</a>
      <a *ngIf="isLoggedIn()" routerLink="home" (click)="logout()">Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!--<router-outlet></router-outlet>-->
